@use "./variables.scss" as var;

.modal{
  @include var.popup();
  .main{
    position: absolute;
    left: calc(((100% + 200px ) - 570px)/2);
    top: calc((100vh - 430px)/2);
    width: 90%;
    max-width: 570px;
/*     @media (max-height: 1000px){
      top: 50px;
    }
    @media (max-width: 1400px){
      left: calc(((100% + 350px ) - 570px)/2);
    } */
    .popUp{
      background-color: var.$background-color-light;
      padding: 0;
      border-radius: 16px;
      .header{
        height: 60px;
        width: 100%;
        border-radius: 16px 16px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
        h2{
          font-size: 20px;
          font-weight: var.$font-weight-semibold;
        }
      }
      .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .result{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0;
          .group{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 175px;
            .name{
              gap: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 50px;
              width: 80%;
              background-color: var.$secondary-color-light;
              border-radius: 10px;
              border: 1px solid var.$primary-color-light;
            }
            .value{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 50px;
              p{
                font-size: 24px;
              }
            }
          }
          .arrow{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            margin: 14px 0;
            img{
              height: 20px;
              width: auto;
            }
          }

        }
        .text{
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 90%;
          margin-bottom: 20px;
          p{
            &.parragraph{
              margin-top: 20px;
            }
          }
        }


        .wrapBtn{
          @include var.btn-main();
          background-color: var.$primary-color-light;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 90%;
          margin-bottom: 20px;
          &:hover{
            background-color: var.$light-color-hover;
          }
        }

      }
    }



  }



}

:global(body.dark){

  .modal{
    .main{
      .popUp{
        background-color: var.$background-color-dark;
        .header{
          background-color: #0E0E0E;
        }
        .body{
          .result{
            .group{
              .name{
                background-color: var.$secondary-color-dark;
                border: 1px solid var.$primary-color-input; 
              }
            }
          }

          .wrapBtn{
            background-color: var.$primary-color-dark;
            &:hover{
              background-color: var.$dark-color-hover;
            }
          }          
        }
      }
    }

  }


}